body {
    background-color: #ffd1a8;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.75);
}

#string_1 {
    height: 170px;
    width: 280px;
    border-radius: 50%;
    position: absolute;
    left: -20%;
    top: -120px;
    border: 5px solid blue;
    display: flex;
    flex-direction: row;
}

#H, #A, #P1, #P2, #Y {
    position: relative;
    top: 200px;
    left: 100px;
    width: 100px;
    height: 100px;
    clip-path: polygon(50% 50%, 0 0, 100% 0);
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

#H { 
    background-color: #ff0000;
    left: 0px;
    top: 147px;
    transform: rotate(27deg);
}

#A {
    background-color: #09ff00;
    left: 10px;
    top: 169px;
    transform: rotate(9deg);
}

#P1 {
    background-color: #0099ff;
    left: 18px;
    top: 172px;
    transform: rotate(-4deg);
}

#P2 {
    background-color: #0026ff;
    left: 27px;
    top: 160px;
    transform: rotate(-19deg);
}

#Y { 
    background-color: #b700ff;
    left: 30px;
    top: 126px;
    transform: rotate(-38deg);
}

#clickme {
    position: absolute;
    top: 100px;
    margin-left: 320px;
    height: 40px;
    width: 100px;
    font-size: large;
    font-weight: bold;
}

#cake, #candles, #layer_middle, #layer_bottom {
    position: absolute;
}

#cake {
    top: 0px;
    left: 50%;
    margin-left: -80px;
}

#candles {
    top: 15px;
}

#candle_1, #candle_2, #candle_3 {
    transform: scale(.956);
    position: relative;
    height: 60px;
    width: 10px;
    background: #ff6347;
    border-radius: 10px / 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 170px 0 20px;
}

#candle_1 { top: -20px; left: 60px; }
#candle_2 { top: -250px; left: 80px; }
#candle_3 { top: -480px; left: 100px; }

#flame_1, #flame_2, #flame_3 {
    position: absolute;
    top: -25px;
    left: 50%;
    height: 30px;
    width: 10px;
    background: radial-gradient(circle at 50% 100%, rgba(255, 165, 0, 0.8), rgba(255, 69, 0, 0.6), rgba(255, 0, 0, 0.4));
    border-radius: 50%;
    transform: translateX(-50%);
    filter: blur(2px);
}

#flame-inner_1, #flame-inner_2, #flame-inner_3 {
    position: absolute;
    top: 15px;
    left: 50%;
    height: 10px;
    width: 10px;
    background: radial-gradient(circle at 50% 100%, rgba(255, 255, 0, 0.8), rgba(255, 140, 0, 0.6), rgba(255, 69, 0, 0.4));
    border-radius: 50%;
    transform: translateX(-50%);
}

#layer_top, #layer_middle, #layer_bottom {
    height: 110px;
    width: 175px;
    border-radius: 100% / 80px;
    background: radial-gradient(50% 40px at 50% 40px, #0003 99.99%, #0000 0),#7B3F00;
}

#layer_top { margin-top: 180px; }
#layer_middle { top: 218px; z-index: -1; }
#layer_bottom { top: 257px; z-index: -2; }

#card {
    position: absolute;
    top: 110px;
}

#top, #bottom {
    position: absolute;
    top: 510px;
    left: 50%;
    margin-left: -180px;
    height: 230px;
    width: 280px;
    padding: 30px;
    background-color: #f5f5f5;
    z-index: -1;
    border: solid 4px #000;
    border-top: solid 1px #f5f5f5;
}

#top { 
    transition: transform .8s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform: translateX(70px);
}

#message {
    width: 310px;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: -50px;
    font-family: "Times New Roman", serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 380px;
    display: none;
}

#inputwish {
    display: none;
    padding-left: 10px;
    border: 1px solid transparent;
    margin-top: 27px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 710px;
}

#makeit{
    position: absolute;
    top: 765px;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#wrapper {
    background-color: #3760C9;
    margin-top: 990px;
    margin-left: -395px;
    transform: scale(.127) rotate(-25deg);
    position: fixed;
    height: 10px;
    width: 100px;
    border-top: 115px solid #3760C9;
    border-right: 150px solid #C4DFF0;
    border-bottom: 115px solid #C4DFF0;
    border-left: 150px solid #a4d4f2;
    animation: moveInsideContainer 3s cubic-bezier(0, 0.47, 1, 0.46) infinite;
    z-index: -1;
    display: none;
}

@keyframes moveInsideContainer {
    0% {
        margin-left: -395px;
    }
    100% {
        margin-left: calc(361px);
    }
}

#t{
    position: absolute;
    margin-left: -439px;
    height: 100px;
    width: 100px;
    border-right: 21px solid #f5f5f5;
    background-color: #ffd1a8;
    display: none;
}

#y{
    position: absolute;
    margin-left: -355.1px;
    height: 150px;
    width: 4px;
    background-color: #000;
    display: none;
}

#d{
    position: absolute;
    margin-left: 420px;
    height: 100px;
    width: 100px;
    border-left: 10px solid #f5f5f5;
    background-color: #ffd1a8;
    display: none;
}

#i{
    position: absolute;
    margin-left: 332.5px;
    height: 150px;
    width: 4px;
    background-color: #000;
    display: none;
}

#t, #y, #d, #i {
    top: 430px;
}