body {
    background-color: #ffd1a8;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.75);
    overflow-x: hidden;
}

#string_1, #string_2, #string_3 {
    height: 170px;
    width: 280px;
    border-radius: 50%;
    position: absolute;
    border: 5px solid #d38600;
    display: flex;
    flex-direction: row;
}

#string_1 {
    top: -70px;
    left: -40%;
    transform: rotate(332deg);
    z-index: 1;
}

#string_2 {
    top: -149px;
    left: 5%;
    transform: rotate(0deg);
    height: 270px;
    width: 380px;
}

#string_3 {
    top: -70px;
    left: 70%;
    transform: rotate(30deg);
    z-index: 1;
}

#H, #A, #P1, #P2, #Y, #B, #I, #R, #T, #H2, #D, #A2, #Y2 {
    position: relative;
    width: 60px;
    height: 100px;
    clip-path: polygon(50% 50%, 0 0, 100% 0);
    display: flex;
    justify-content: center;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

#H { 
    left: 0px;
    top: 147px;
    transform: rotate(27deg);
}

#A {
left: -10px;
    top: 164px;
    transform: rotate(15deg);
}

#P1 {
    left: -12px;
    top: 172px;
    transform: rotate(0deg);
}

#P2 {
    left: -21px;
    top: 167px;
    transform: rotate(-9deg);
}

#Y { 
    left: -32px;
    top: 159px;
    transform: rotate(-20deg);
}

#B {
    left: 45px;
    top: 250px;
    transform: rotate(22deg);
}

#I {
left: 40px;
    top: 267px;
    transform: rotate(10deg);
}

#R {
left: 34px;
    top: 272px;
    transform: rotate(0);
}

#T {
    left: 26px;
    top: 268px;
    transform: rotate(-8deg);
}

#H2 {
    left: 25px;
    top: 252px;
    transform: rotate(-20deg);
}

#D {
    left: 90px;
    top: 172px;
    transform: rotate(4deg);
}

#A2 {
left: 85px;
    top: 170px;
    transform: rotate(-8deg);
}

#Y2 {
        left: 80px;
    top: 158px;
    transform: rotate(-22deg);
}

#clickme {
    position: absolute;
    top: 200px;
    margin-left: 320px;
    height: 40px;
    width: 100px;
    font-size: large;
    font-weight: bold;
}

#cake, #candles, #layer_middle, #layer_bottom {
    position: absolute;
}

#cake {
    top: 100px;
    left: 50%;
    margin-left: -80px;
}

#candles {
    top: 15px;
}

#candle_1, #candle_2, #candle_3 {
    transform: scale(.956);
    position: relative;
    height: 60px;
    width: 10px;
    background: #ff6347;
    border-radius: 10px / 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 170px 0 20px;
}

#candle_1 { top: -20px; left: 60px; }
#candle_2 { top: -250px; left: 80px; }
#candle_3 { top: -480px; left: 100px; }

#flame_1, #flame_2, #flame_3 {
    position: absolute;
    top: -25px;
    left: 50%;
    height: 30px;
    width: 10px;
    background: radial-gradient(circle at 50% 100%, rgba(255, 165, 0, 0.8), rgba(255, 69, 0, 0.6), rgba(255, 0, 0, 0.4));
    border-radius: 50%;
    transform: translateX(-50%);
    filter: blur(2px);
}

#flame-inner_1, #flame-inner_2, #flame-inner_3 {
    position: absolute;
    top: 15px;
    left: 50%;
    height: 10px;
    width: 10px;
    background: radial-gradient(circle at 50% 100%, rgba(255, 255, 0, 0.8), rgba(255, 140, 0, 0.6), rgba(255, 69, 0, 0.4));
    border-radius: 50%;
    transform: translateX(-50%);
}

#layer_top, #layer_middle, #layer_bottom {
    height: 110px;
    width: 175px;
    border-radius: 100% / 80px;
    background: radial-gradient(50% 40px at 50% 40px, #0003 99.99%, #0000 0),#7B3F00;
}

#layer_top { margin-top: 180px; }
#layer_middle { top: 218px; z-index: -1; }
#layer_bottom { top: 257px; z-index: -2; }

#card {
    position: absolute;
    top: 700px;
    width: 120%;
    height: auto;
}

#top, #bottom {
    height: 340px;
    width: 100%;
    background-color: #f5f5f5;
    border: solid 4px #000;
    border-top: solid 1px #f5f5f5;
    position: relative;
}

#top {
    transition: transform .8s ease-in-out;
}

#bottom {
    top: -205px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform: translateX(70px);
}

#message {
    width: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: "Times New Roman", serif;
    display: none;
    margin: 30px;
    position: inherit;
    z-index: 1;
    top: -30%;
}

#inputwish {
    display: none;
    border: 1px solid transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 410px;
    scale: 1.2;
}

#makeit{
    position: absolute;
    top: 445px;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    scale: 1.2;
}

#wrapper {
    background-color: #3760C9;
    margin-top: 990px;
    margin-left: -600px;
    transform: scale(.127) rotate(-25deg);
    position: fixed;
    height: 10px;
    width: 100px;
    border-top: 115px solid #3760C9;
    border-right: 150px solid #C4DFF0;
    border-bottom: 115px solid #C4DFF0;
    border-left: 150px solid #a4d4f2;
    animation: moveInsideContainer 3s cubic-bezier(0, 0.47, 1, 0.46) infinite;
    z-index: 1;
    display: none;
}

@keyframes moveInsideContainer {
    0% {
        margin-left: -600px;
    }
    100% {
        margin-left: calc(460px);
    }
}